html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  margin:0;
  padding: 0;
}

#beerrun {
  /*width: 1920px;
  margin-left: auto;
  margin-right: auto;*/
  cursor: pointer;
  position: relative;
}

#inputContainer {
  position: absolute;
  top: 710px;
  left: 480px;
}

#nameInput {
  width: 800px;
  height: 80px;
  padding: 0 25px;
  font-size: 45px;
}

#submitBtn {
  width: 110px;
  height: 83px;
  vertical-align: top;
  font-size: 22px;
}